.content {
    position: relative;
    z-index: 2;
    padding: 20px;
    color: white; /* Color del texto para que sea visible */
}


  .dashboard-container {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 100vh;
  }
  
  app-items {
    width: 50%;
    height: 80vh; /* Alto del 100% del contenedor */
    overflow-y: auto; /* Habilita el scroll vertical si el contenido excede */
    padding: 10px; /* Ajusta el relleno según sea necesario */
  }
  
  app-preview {
    width: 50%;
    height: 80vh; /* Alto del 100% del contenedor */
    overflow-y: auto; /* Habilita el scroll vertical si el contenido excede */
    padding: 10px; /* Ajusta el relleno según sea necesario */
  }
  