.content {
    position: relative;
    z-index: 2;
    padding: 20px;
    color: white; /* Color del texto para que sea visible */
}

h1 {
    font-family: 'Cinzel', 'Uncial Antiqua', serif;
    text-align: center;
    color: #C49B2C; /* Color dorado similar a LoL */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para dar efecto de profundidad */
}

.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  app-items {
    width: 45%; 
  }
  
  app-preview {
    width: 45%;
  }
  