<p-tabMenu [model]="itemsMenu">
    <ng-template pTemplate="item" let-item>
        <a (click)="cambiarCategoria(item.label)" class="p-menuitem-link">
            {{ item.label }}
          </a>
    </ng-template>
  </p-tabMenu>

  <ng-container [ngSwitch]="activeItem">
    <div *ngSwitchCase="'Tirador'" class="items-container">
      <div *ngFor="let item of items" (click)="seleccionarItem(item.nombre)" class="item"> 
        <img src="{{ item.imagen }}" alt="{{ item.nombre }}">
        <h3>{{ item.nombre }}</h3>
        <p>{{ item.precio | currency:'USD':'symbol':'1.0-0' }}</p>
      </div>
    </div>

    <div *ngSwitchCase="'Mago'" class="items-container">
      <div *ngFor="let item of items" (click)="seleccionarItem(item.nombre)" class="item">
        <img src="{{ item.imagen }}" alt="{{ item.nombre }}">
        <h3>{{ item.nombre }}</h3>
        <p>{{ item.precio | currency:'USD':'symbol':'1.0-0' }}</p>
      </div>
    </div>
      
    <div *ngSwitchCase="'Luchador'" class="items-container">
        <div *ngFor="let item of items" (click)="seleccionarItem(item.nombre)" class="item">
          <img src="{{ item.imagen }}" alt="{{ item.nombre }}">
          <h3>{{ item.nombre }}</h3>
          <p>{{ item.precio | currency:'USD':'symbol':'1.0-0' }}</p>
        </div>
    </div>
      
    <div *ngSwitchCase="'Asesino'" class="items-container">
        <div *ngFor="let item of items" (click)="seleccionarItem(item.nombre)" class="item">
          <img src="{{ item.imagen }}" alt="{{ item.nombre }}">
          <h3>{{ item.nombre }}</h3>
          <p>{{ item.precio | currency:'USD':'symbol':'1.0-0' }}</p>
        </div>
    </div>
      
    <div *ngSwitchCase="'Soporte'" class="items-container">
        <div *ngFor="let item of items" (click)="seleccionarItem(item.nombre)" class="item">
          <img src="{{ item.imagen }}" alt="{{ item.nombre }}">
          <h3>{{ item.nombre }}</h3>
          <p>{{ item.precio | currency:'USD':'symbol':'1.0-0' }}</p>
        </div>
    </div>
      
    <div *ngSwitchCase="'Tanque'" class="items-container">
        <div *ngFor="let item of items" (click)="seleccionarItem(item.nombre)" class="item">
          <img src="{{ item.imagen }}" alt="{{ item.nombre }}">
          <h3>{{ item.nombre }}</h3>
          <p>{{ item.precio | currency:'USD':'symbol':'1.0-0' }}</p>
        </div>
    </div>

    </ng-container>

  

  