<p-tabMenu [model]="itemsMenu">
    <ng-template pTemplate="item" let-item>
        <a (click)="cambiarCategoria(item.label)" class="p-menuitem-link">
            {{ item.label }}
          </a>
    </ng-template>
  </p-tabMenu>

  <ng-container [ngSwitch]="activeItem">
    <div *ngSwitchCase="'Tirador'">
      <div *ngFor="let item of items" (click)="seleccionarItem(item.nombre)"> 
        <h3>{{ item.nombre }}</h3>
        <p>Precio: {{ item.precio }}</p>
      </div>
    </div>
    
    <div *ngSwitchCase="'Mago'">
      <div *ngFor="let item of items" (click)="seleccionarItem(item.nombre)">
        <h3>{{ item.nombre }}</h3>
        <p>Precio: {{ item.precio }}</p>
      </div>
    </div>
    <div *ngSwitchCase="'Luchador'">
        <div *ngFor="let item of items" (click)="seleccionarItem(item.nombre)">
          <h3>{{ item.nombre }}</h3>
          <p>Precio: {{ item.precio }}</p>
        </div>
      </div>
      <div *ngSwitchCase="'Asesino'">
        <div *ngFor="let item of items" (click)="seleccionarItem(item.nombre)">
          <h3>{{ item.nombre }}</h3>
          <p>Precio: {{ item.precio }}</p>
        </div>
      </div>
      <div *ngSwitchCase="'Soporte'">
        <div *ngFor="let item of items" (click)="seleccionarItem(item.nombre)">
          <h3>{{ item.nombre }}</h3>
          <p>Precio: {{ item.precio }}</p>
        </div>
      </div>
      <div *ngSwitchCase="'Tanque'">
        <div *ngFor="let item of items" (click)="seleccionarItem(item.nombre)">
          <h3>{{ item.nombre }}</h3>
          <p>Precio: {{ item.precio }}</p>
        </div>
      </div>
  </ng-container>

  